<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=8.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="GameBarClock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=8.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GameBarClock.Properties.Settings>
            <setting name="TextAlignment" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TextWeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>#0078D4</value>
            </setting>
            <setting name="TextSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="TextFormat" serializeAs="String">
                <value>yyyy-MM-dd HH:mm:ss</value>
            </setting>
            <setting name="ShowWeek" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextFamily" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
        </GameBarClock.Properties.Settings>
    </userSettings>
</configuration>